# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
*.mo
*.sqlite3
*.log
local_settings.py
db.sqlite3
instance/
.webassets-cache
.scrapy
.DS_Store

# Vue.js
node_modules/
/dist/
/local/
/coverage/
/.env.local
/.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml
*.log
.temp/
.history/
.cache-loader/
.quasar/
.ssr/
.parcel-cache/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# System Files
.DS_Store
Thumbs.db